<mat-card class="container">
  <mat-card-header>
    <mat-card-title> ## Jogos ## </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr>
        <th>Seleção A</th>
        <th>Gols Time A</th>
        <th>vs</th>
        <th>Gols Time B</th>
        <th>Seleção B</th>
        <th>Palpite</th>
      </tr>
      <tr *ngFor="let jogo of jogos">
        <td>{{jogo.selecaoA?.nome}}</td>
        <td>{{jogo.resultado}}</td>
        <td>vs</td>
        <td>{{jogo.resultado2}}</td>
        <td>{{jogo.selecaoB?.nome}}</td>
        <td><button>Palpite</button></td>
      </tr>
    </table>
  </mat-card-content>

</mat-card>